@font-face {
   src: url("font/NunitoSans/NunitoSans-Regular.ttf");
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
}
@font-face {
   src: url("font/NunitoSans/NunitoSans-Italic.ttf");
   font-family:"NunitoSans-Italic, Arial, Helvetica, sans-serif";
}
@font-face {
   src: url("font/YesevaOne/YesevaOne-Regular.ttf");
   font-family:"YesevaOne-Regular, Arial, Helvetica, sans-serif";
}
body {
   margin:0; 
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";  
}
body * {
   box-sizing: border-box;
} 
 
.header-navigation {
   display: flex; list-style: none; 
}
.header-navigation-item a {
   margin-right: 47px;
   text-decoration: none;
}
.link-nav:hover {
   color: #E3B873; 
}
.link-nav {
   color:white;
   height: 16px;
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
}
.button {
   background: #E3B873;
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
   border-radius: 2px; border: 0;
    font-family: "NunitoSans-Italic, Arial, Helvetica, sans-serif";
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.header {
   background-color:black;
}
.header-content {
   display: flex;
   justify-content: space-between;
   height: 83px;
   max-width: 1263px;
   margin: 0 auto;
   align-items: center;    
}
.logo {
   color: #E3B873;
   font-family: 'Nunito Sans';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-transform: uppercase;
}
.section1 {
   background-image: url("images/image\ 4.3.jpg");
   background-size: cover;
   height: 707px;
   width: 100%;
   position: relative;
   z-index: 0;
    
}
.section1::before {
   content: '';
   background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position:absolute;
    z-index: -1;
}
.container {
   max-width: 1263px;
   margin: 0 auto;
}
.container1 {
   padding: 194px 0 0 32px;
}
.subtitle {
   margin: 0;
   font-family: 'YesevaOne-Regular, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 53px;
   text-transform: uppercase;
   color: #FFFFFF;   
}
.title {
   font-family: 'YesevaOne-Regular, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 27px;
   line-height: 37px;
   letter-spacing: -0.07em;
   text-transform: uppercase;
   color: #E3B873;
   margin: 0;
}
.title-1 {
   font-family: 'YesevaOne-Regular, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 53px;
   text-transform: uppercase;
   color: #E3B873;
}
.label-input {
   font-family: "NunitoSans-Regular, Arial, Helvetica, sans-serif";
    font-style:normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: rgba(54, 54, 54, 0.5);
   margin: 0;
}
.input {
   border: none;
   padding: 0;
}
   
.input-container {
   border: 1px solid rgba(54, 54, 54, 0.3);
   transform: matrix(1, 0, 0, -1, 0, 0);
   width: 231px;
   margin-top: 8px;
}

.input::placeholder{
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 23px;
   color: #363636;   
}
.text-1 {
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 22px;
   line-height: 36px;
   color: #FFFFFF;
   margin-top: 19px;
}
.button-nav {
   width: 161px;
   height: 37px;
   padding: 13px 33px;
}
.button-section1 {
   border: 1px solid #FFFFFF;
   border-radius: 2px;
   font-family: "NunitoSans-Italic, Arial, Helvetica, sans-serif";
   font-style: italic;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
   width: 207px;
   height: 51px;
   padding: 19px 42px 20px 41px;
   background-color: transparent;
}
.button-section1:hover{
   background: #E3B873;
   
}
.button-section1-1 {
   margin-left: 20px;
   width: 207px;
   height: 51px;
   padding: 19px 23px 20px 22px;
   border: 1px solid #FFFFFF;
   border-radius: 2px;
   font-family: "NunitoSans-Italic, Arial, Helvetica, sans-serif";
   font-style: italic;
   font-weight: 400;
   font-size: 11px;
   line-height: 15px;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   cursor: pointer;
   width: 207px;
   height: 51px;
   background-color: transparent;
}
.button-section1-1:hover{
   background: #E3B873;
}
.section2 {
   margin: 0;
   background: #131313;
   height: 1074px;
}
.link-section2 {
   font-family: 'Yeseva One';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.3);
   text-decoration: none;
   margin-right: 60px;
}
.link-section2:hover{
   color: #E3B873;
   text-decoration:underline;
}

.navigation-section2 {
   margin: 0;
   margin-bottom:52px;
   list-style: none;
   display: flex;
   padding-inline-start: 0px;
}

.text-section2 {
   display:flex;
   padding-top: 107px;
}
.text-section2-aside {
   /* margin-top: 69px; */
   width: 442px;
}
.text-section2-aside-box {
   margin-top: 69px;
}
.img-section2 {
   margin-left: 50px;
}
.slider {
   width: 100%;
}
.text-title-h2 {
   font-family:'NunitoSans-Regular, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 27px;
   color: #FFFFFF;
   margin: 34px 0px 0px 0px;
}
.title-h3 {
   font-size: 18px;
   line-height: 25px;
   letter-spacing:normal;
}
.text-title-h3{
   font-family: 'NunitoSans-Regular, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: #FFFFFF;
   margin: 9px 0 34px 0 ;
}
.text-section2-aside-box1 {
   display: flex;
   margin-top: 42px;
   width: 403px;
   height: 162px;
   
}
.text-title-h3-padding{
   margin: 9px 0 55px 0 ;
   font-family: 'NunitoSans-Regular, Arial, Helvetica, sans-serif';
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: #FFFFFF;
}
.text-section2-aside-box1-1 {
   margin-left: 64px;
}
.text-section2-aside-box2 {
   display: flex;
   margin-top: 79px;
   width: 205px;
   height: 18px;
   justify-content: space-between;
}
.point {
   border-radius: 30px;
   background: #FFFFFF;
   width: 9px;
   height: 9px;
   align-self: center;
}
.point-1 {
   background: rgba(255, 255, 255, 0.3);
}
.point-Group {
   display: flex;
   width: 63px;
   justify-content: space-between;
}
.title-h3-section3 {
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   color: #FFFFFF;
   margin-bottom: 12px;
   letter-spacing: normal;
}
.section3 {
   margin-top: -323px;
}
.img-section3-svg {
   display: flex;
   justify-content: center;
}
.img-section3-jpg {
   background-image: url("images/image\ 6.jpg");
   background-size: cover;
   height: 434px;
   width: 817px;
   margin: 31px 223px 0 223px;
}
.ellipse-img-section3-jpg {
   background-image: url("svg/ellipse.svg");
   width: 145px;
   height: 145px; 
}
.Polygon-ellipse-img-section3-jpg {
   background-image: url("png/Polygon.png");
   width: 28px;
   height: 28px;
   background-size: cover;
   margin:55px 60px
}
.section3-overlay {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.hr-section3 {
   background-color: 
   #E3B873;
   width:55px;
   margin-top:62px ;
}
.text-title-h3-section3 {
   font-family:'NunitoSans-Regular, Arial, Helvetica, sans-serif';
   font-size: 18px;
   font-weight: 400;
   line-height: 37px;
   letter-spacing: 0em;
   text-align: center;
   vertical-align: top;
   filter: drop-shadow( 4px 0px 4px
   rgba(0, 0, 0, 0.25));
   margin-top: 34px;
}
.form-section3 {
   margin-top: 91px;
   display: flex;
   justify-content: center;
    
}
.button-form-section3 {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 2px; border: 0;
    font-family: "NunitoSans-Regular, Arial, Helvetica, sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 26.6px;
    width: 200px;
    height: 51px; 
}
.label-checkbox {
   cursor: pointer;
   display: flex;
 }
 .checkbox{
   display: none;
   
 }
 .fake{
   display: inline-flex;
   width: 18px;
   height: 18px;
   background: #E3B873;
   color: #fff;
   justify-content: center;
 }
 .fake::before{
   content:"\2714";
   opacity:0;
   transition: .2s;
 }
 .fake-on-black {
   display: run-in;
 }
 .checkbox:checked + .fake::before{
   opacity: 1;
 }
 .text-checkbox {
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 163.68%;
   color: #181818;
 }
 .first-checkbox {
   margin-top: 33px;
   position: relative;
   right: 53px;
   
 }
 .box2-form {
   margin-left: 58px;
 }
 .title-h3-section4 {
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   color: #181818;
   letter-spacing: normal;
   margin: 75px 0 13px 0;
 }
 .box-section4-types {
   display: flex;
   margin-top: 31px;
   justify-content: space-between;
 }
 .title-h3-section4-box1 {
   font-size: 18px;
   line-height: 25px;
   color: #363636;
   letter-spacing: normal;
   padding: 25px 68px 8px 34px;
   text-transform: none;
 }
 .item-ul-box-section4 {
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif" ;
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 27px;
   color: #959595;
 }
 .box-ul-section4 {
   width: 330px;
   height: 286px;
   background-color:#FFFFFF;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
   margin: -135px 0 0 31px;
   position: relative;
 }
 .ul-setion4 {
   padding-inline-start: 50px;
   margin: 0;
 }
 .title-h3-section4-box1-price {
   font-family: "YesevaOne-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   color: #FFFFFF;
   width: 228px;
   height: 54px;
   background: #E3B873;
   box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
   letter-spacing: normal;
   margin: -26px 0 0 31px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .box-section4-form {
   display: flex;
   margin-top: 124px;
   background-image:url("png/image\ 6.1.png");
   background-repeat: no-repeat;
   position: relative;
   right: 67px;
 }
 .advantages-section4 {
   height: 489px;
   margin: 109px 75px 0 242px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
 .number-advantages-section4 {
   display: flex;
 }
 .number-advantages {
   border-radius: 30px;
   background: #E3B873;
   border: 8px solid #FFFFFF;
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
   font-family:"YesevaOne-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #FFFFFF;
   padding-top: 8px;
   width: 57px;
   height: 57px;  
 }
 .text-number-advantages {
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
    color: #363636;
    width: 320px;
    margin: 0 0 0 9px;
    display: flex;
    align-items: center; 
 }
 .box-form-section4 {
   margin: 106px 0 0 131px;
 }
 .box-form-section4::before{
   margin-top: 106px;
 }
 .form-section4-title-on-black {
   font-family: "NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   text-align: center;
   color: #FFFFFF;
   margin: 28px 0 39px 0;
   height: 47px;
 }
 .label-input-on-black{
   font-family: "NunitoSans-Regular, Arial, Helvetica, sans-serif";
    font-style:normal;
   font-weight: 400;
   font-size: 13px;
   line-height: 21px;
   color: rgba(255, 255, 255, 0.5);
   margin: 0;
} 
.input-on-black-Phone {
   margin: 48px 0;
}
.input-on-black {
   background-color:  #131313;
   border: none;
   padding: 0;
}
.input-on-black::placeholder{
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 23px;
   color: #FFFFFF;
} 
.input-container-on-black {
   width: 408px;
   height: 1px;
   margin-top: 3px;
   background-color: rgba(255, 255, 255, 0.15);;
} 
.text-checkbox-on-black {
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 163.68%;
   color: #FFFFFF;
   margin: 0 0 0 8px;
   
}
.form-section4 {
   background: url("png/BACKGROUND\ LINE.png")#131313;
   box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
   width: 506px;
   height: 509px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
} 
.first-checkbox-on-black {
   margin-top: 16px; 
 }
 .button-form-section3-on-black {
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";
   box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
   font-size: 13px;
   line-height: 21px;
   width: 213px;
   height: 51px;
   margin: 0 0 27px 195px;
   font-style: normal;
   padding: 0;
 }
 .pig {
   display: flex;
   margin: 38px 0 0 32px;
 }
 .pig-text{
   font-family:"NunitoSans-Regular, Arial, Helvetica, sans-serif";  
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 26px;
   color: #E3B873;
   text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
   margin: 0 0 0 25px;
   padding-top: 12.5px;
 }
 .pig-ellipse {
   width: 72px;
   height: 72px;
   background: #E3B873;
   box-shadow: 0px 10px 10px rgba(237, 192, 120, 0.2);
   border-radius: 50px;
   background-image: url("svg/Group\ pig.svg");
   background-repeat: no-repeat;
   background-position: center;
}
.section5 {
   background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%), url("images/image\ 5.1.jpg");
   background-size: cover;
   height: 865px;
   width: 100%;
   margin-top: 242px; 
} 
.container5 {
   display: flex;
   justify-content: space-between;
}
.types-of-design {
   padding-top: 137px;
}
.title-types-of-design {
   letter-spacing:normal;
   margin-bottom: 47px;
}
.navigation-types-of-design {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   list-style: none;
   width: 299px;
   height: 516px;
   padding-inline-start: 0;
   margin: 0;
}
.types-of-design-item a {
   text-decoration: none;
}
.link-nav-section5 {
   font-size: 20px;
   line-height: 38px;
   padding-bottom: 2px;
   color: #FFFFFF;
}
.link-nav-section5:hover {
   padding-bottom: 4.7px;
   border-bottom: 0.66px solid #E3B873;
   color: #E3B873;
}
.photo-types-of-design {
   display: inline-flex;
}
.photo-types-of-design-first {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 944px;
   margin-top: -40px;
}
.photo-types-of-design-second {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-left: 43px;
   height: 936px;
   margin-top: -112px;
}
.photo-watch {
   background: url("images/watch.jpg"), #C4C4C4;
   width: 354px;
   height: 557px;
}
.photo-TV {
   background: url("images/TV.jpg"),#C4C4C4;
   width: 354px;
   height: 350px;
   margin-top: 39px;
}
.photo-sofa {
   background: url("images/sofa.jpg");
   width: 354px;
   height: 275px;
}
.photo-table {
   background: url("images/table.jpg"),#C4C4C4;
   width: 354px;
   height: 625px;
   margin-top: 36px;
}

.our-clients {
   height: 642px;
   margin-top: 110px;
}
.section6 {
   background-image: url("png/Frame\ city.png");
   width: 100%;
   background-repeat: repeat-x;
   height: 1107px;
   background-position: bottom;
}
.title-h3-section6 {
   font-size: 20px;
   line-height: 28px;
   text-align: center;
   color: #181818;
   letter-spacing: normal;
}
.logo-handshake{
   display: flex;
   justify-content: center;
   margin-top: 13px;
}
.text-section6{
   font-family: "NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 29px;
   text-align: center;
   color: #363636;
   margin: 24px 0 39px 0;
}
.reviews {
   width: 1236px;
   display: flex;
   justify-content: space-between;
}
.review-card {
   width: 376px;
   background: #FFFFFF;
   box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.clients-name {
   font-family: "YesevaOne-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 23px;
   color: #181818;
   margin: 15px 0 15px 23px;
}
.foto-clients {
   display: flex;
   margin: 24px 0 0 20px;
}
.foto {
   background:#FFFFFF;
   border-radius: 50%;
   height: 76px;
}
.content-review-card {
   font-family: "NunitoSans-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 13px;
   line-height:27px;
   color: #959595;
   margin: 22px 31px 40px 20px;
}
.scope-of-work {
   display: flex;
   margin-bottom: -27px;
}
.scope-of-work-square {
   background: #E3B873;
   box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
   border-right: 0.75px solid #FFFFFF;
   display: flex;
}
.text-logo {
   font-family: "YesevaOne-Regular, Arial, Helvetica, sans-serif";
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 24px;
   text-transform: uppercase;
   color: #FFFFFF;
   margin: 17px 13px 17px 15px;
}
.logo-scope-of-work {
   background-image: url("svg/Group\ 21.4.svg");
   width: 33px;
   height: 32px;
   margin: 11px 0 11px 17px;
}
.scope-of-work-days{
   background: #E3B873;
   box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
   border-right: 0.75px solid #FFFFFF;
   display: flex;
}
.logo-scope-of-work-days {
   background-image: url("svg/logo-time.svg");
   width: 33px;
   height: 32px;
   margin: 11px 0 11px 17px;
}
.questions {
   width: 883px;
   height: 446px;
   position: relative;
   top: -223px;
   left: 197.5px;
   background: #181818;
   display: flex; 
   justify-content: center;
   align-items: center; 
}
.form-questions {
   width: 520px;
   height: 377px;
}
.form-questions-title {
   color: #FFFFFF;
}
.wrapper-form-questions1 {
   width: 520px;
   display: flex;
   justify-content: space-between;
   margin-top: 45.8px;
}
.input-container-questions {
   width:231px;
   height: 1px;
   background: rgba(255, 255, 255, 0.15);
   transform: matrix(1, 0, 0, -1, 0, 0);
}
.input-container-questions2 {
   width:517px;
   height: 1px;
   background: rgba(255, 255, 255, 0.15);
   transform: matrix(1, 0, 0, -1, 0, 0);
}
.wrapper-form-questions2 {
   margin-top: 48.7px;
}
.questions-checkbox {
   margin: 46px 0 0 117px;
}
.button-form-questions {
   width: 200px;
   height: 51px;
   margin: 15px 0 0 160px;
}
.section7 {
   background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("images/image 7.2.jpg");
   width: 100%;
   height: 955px;
   background-size: cover;
}
.address-phone {
   margin-top: -171px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.title-address-phone {
   color: #E3B873;
}
.logo-address-instagram{
   margin-top: 26px;
   width: 71px;
   display: flex;
   justify-content:space-between;
}
.logo-address {
   width: 28px;
   height: 28px;
   border-radius: 50%;
   background:url("svg/Group.svg"),#E3B873;
  background-repeat: no-repeat;
   background-position: center;
}
.logo-instagram {
   width: 28px;
   height: 28px;
   border-radius: 50%;
   background:url("svg/Group 1.svg"),#E3B873;
  background-repeat: no-repeat;
   background-position: center;
}
.map {
   background-image: url("images/image\ 7.1.jpg");
   width: 925px;
   height: 466px;
   margin:44px 0 0 150.5px;
}
.footer-content {
   height: 133px;
}
@media (max-width: 768px) {
   nav,  .text-section2-aside-box2, .navigation-section2, 
   .button-nav, .box-section4-form, .section6, .footer-content {
   display: none;
   }
   .header-content, .container {
      margin: 0 18px;
      max-width: 100%;
   }
   .container1 {
      padding:  194px 0 61px 0;
   }
   .button-section1 {
      display: block;
      margin: 32px auto 26px auto;
      max-width: 339px;
      width: 100%;
   }
   .button-section1-1 {
      display: block;
      margin: 0 auto;
      max-width: 339px;
      width: 100%;
   }
   .subtitle, .title-1 {
      font-size: 23px;
      line-height: 132.83%;
   }
   .text-1 {
      font-size: 14px;
       line-height: 135.84%;
   }
   .img-section2 {
      margin: 0;
   }
   .section1 {
      height: auto;
   }
   .text-section2 {
      flex-direction: column;
     padding: 0;
    
   }
   .text-section2-aside {
      margin-top: 36px;
      width: 100%;
   }
   .text-section2-aside-box {
      text-align: center;
    
   }
   .section2 {
      height: auto;
   }
   .section3 {
      background: #131313;
      margin-top: 0;
   } 
   .title-h3-section3 {
      padding-top: 58px;
      font-size: 22px;
      line-height: 138.6%;
      margin-bottom: 20px;
   }
   .img-section3-jpg {
      margin: 41px auto 0 auto;
      width: 100%;
      height: 100%;
   }
  

}




 
 
 